<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="tw-relative">
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end" class="header-action-btn">
      <ion-button (click)="toggleTheme()" fill="clear" [color]="isDarkMode ? 'warning' : 'light'">
        <ion-icon slot="icon-only" [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-under-construction 
    title="User Account" 
    description="Manage your orders, addresses, and personal preferences within the myBINAARA ecosystem.">
  </app-under-construction>
</ion-content>
