<div class="search-section">
  <div class="search-bar" (click)="navigateToSearch()" role="button">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
    <input type="text" class="search-input" placeholder="Search tools, hardware, pipes..." readonly />
  </div>

  @if (locationDenied()) {
    <div class="location-chip location-chip--denied" (click)="retryLocation()" role="button">
      <ion-icon name="refresh-outline"></ion-icon>
      <span>Enable Location</span>
    </div>
  } @else {
    <div class="location-chip" [class.location-chip--loading]="locationLoading()">
      <ion-icon name="location-outline" color="warning"></ion-icon>
      <span>{{ currentLocation() }}</span>
    </div>
  }
</div>
