<div class="search-bar-wrapper">
  <button class="back-btn" (click)="goBack()" aria-label="Go back">
    <ion-icon name="arrow-back-outline" color="light"></ion-icon>
  </button>

  <div class="search-input-wrapper">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
    <input
      #searchInput
      type="text"
      class="search-input"
      [value]="query()"
      (input)="onInput($event)"
    />
  </div>

  <button class="filter-btn" aria-label="Clear search" (click)="onReset()">
    <ion-icon name="refresh-outline"></ion-icon>
  </button>
</div>
